
body {
    color: #40514E;
    background-color: darkgrey;
    margin: 0px;
    text-align: center;
    /*font-family: verdana, sans-serif;*/
    font-family: 'Merriweather', verdana, sans-serif;
}

h1 {
    /*margin-top: 0;
    margin-bottom: 60px;*/
    color: #8b008b;
    /*color: antiquewhite;*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5% /*90px = 90/16*100 = 562.5% */
}

h2 {
    color: #8b008b;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/*
img {
    height: 100px;
}
*/

p {
    line-height: 2;
}


/*********** CLASS *********/

.top-container {
    /*background-color: #E4F9F5;*/
    background-color: darkgrey;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: beige;
}

.bottom-container {
    background-color: beige;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    height: 100px;
}


.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
    height: 100px;
}

.mountain-one {
    height: 500px;
    margin-top: 0px;
    width: 100%
}

.my-foto {
    margin-top: 20px;
    height: 250px;
}

.civil {
    font-family: verdana, sans-serif;;
    font-size: 1.5rem;
    margin-bottom: 0px;
}


.foto-block {
    /*margin-top: 100px;*/
    /*background-color: cornsilk;*/
    /*background-color: darkgrey;*/
}


.skill-row {
    width: 60%;
    /*margin: 100px auto 100px auto;*/
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}


.code-img {
    width: 20%;
    /*float: left;*/
    margin-right: 30px;

    /* Stuff below place the foto to the center */
    /*
    display: block;
    margin-left: auto;
    margin-right: auto;
    */
}


.chilli-img {
    width: 20%;
    /*float: left;*/
    margin-right: 30px;

}


.code-skill-description {
    clear: left;
}

.code-skill-description {
    clear: right;
}





.hard-and-soft {
    font-size: 30px;
}


